<div class="card">
    <div class="card-body">
        <form action="">
            <label for="titulo">Titulo:</label>
            <input type="text" name="titulo" class="form-control">
            <label for="slug">Slug:</label>
            <input type="text" name="slug" class="form-control">
            <label for="descricao">Descrição:</label>
            <input type="text" name="descricao" class="form-control">
            <label for="conteudo">Conteudo:</label>
            <textarea name="conteudo" class="form-control"></textarea>
            <button class="btn btn-success">Criar postagem</button>
        </form>
    </div>
</div>